.daily-weather-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: stretch;
  border-radius: unset;
  background-color: lightsteelblue;
  overflow-x: auto;
}

.day-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  min-width: 110px;
}

.mat-divider-vertical {
  align-self: stretch;
  margin: 0 10px;
}

img {
  margin: 0;
}

.mat-mdc-card .mat-mdc-card-content {
  padding-bottom: 0;
}
